<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings configSource="connections.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.diagnostics>
    <!--Nothing for now-->
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false" />
    </diagnostics>
    <services>
      <service name="BloomSales.Services.LocationService">
        <endpoint address="net.Tcp://localhost:8000/LocationService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.ILocationService" />
      </service>
      <service name="BloomSales.Services.InventoryService">
        <endpoint address="net.tcp://localhost:8001/InventoryService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IInventoryService" />
      </service>
      <service name="BloomSales.Services.ShippingService">
        <endpoint address="net.tcp://localhost:8002/ShippingService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IShippingService" />
      </service>
      <service name="BloomSales.Services.AccountingService">
        <endpoint address="net.tcp://localhost:8003/AccountingService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IAccountingService" />
      </service>
      <service name="BloomSales.Services.OrderService">
        <endpoint address="net.tcp://localhost:8004/OrderService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IOrderService" />
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://localhost:8000/LocationService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.ILocationService" />
      <endpoint address="net.tcp://localhost:8001/InventoryService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IInventoryService" />
    </client>
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>