<connectionStrings>
  <add name="AccountingDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\AccountingDatabase.mdf;Initial Catalog=AccountingDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="InventoryDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\InventoryDatabase.mdf;Initial Catalog=InventoryDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LocationDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=D:\LocationDatabase.mdf;Initial Catalog=LocationDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="OrderDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\OrderDatabase.mdf;Initial Catalog=OrderDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ShippingDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\ShippingDatabase.mdf;Initial Catalog=ShippingDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>