@model IEnumerable<BloomSales.Data.Entities.Shipper>

<h3 style="padding-bottom:3em;">Shipping</h3>

<div class="form-horizontal">
    @Html.Partial("Shippers", Model)

    <div id="services">
    </div>
</div>