<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
    <connectionStrings>
    <add name="AccountingDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\AccountingDatabase.mdf;Initial Catalog=AccountingDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="InventoryDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\InventoryDatabase.mdf;Initial Catalog=InventoryDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LocationDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\LocationDatabase.mdf;Initial Catalog=LocationDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OrderDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\OrderDatabase.mdf;Initial Catalog=OrderDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ShippingDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|\ShippingDatabase.mdf;Initial Catalog=ShippingDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="BloomSales.Services.LocationService">
        <endpoint address="net.tcp://localhost:8000/LocationService" 
                  binding="netTcpBinding" 
                  contract="BloomSales.Services.Contracts.ILocationService" />
      </service>
      <service name="BloomSales.Services.InventoryService">
        <endpoint address="net.tcp://localhost:8001/InventoryService" 
                  binding="netTcpBinding" 
                  contract="BloomSales.Services.Contracts.IInventoryService" />
      </service>
      <service name="BloomSales.Services.ShippingService">
        <endpoint address="net.tcp://localhost:8002/ShippingService" 
                  binding="netTcpBinding" 
                  contract="BloomSales.Services.Contracts.IShippingService" />
      </service>
      <service name="BloomSales.Services.AccountingService">
        <endpoint address="net.tcp://localhost:8003/AccountingService" 
                  binding="netTcpBinding" 
                  contract="BloomSales.Services.Contracts.IAccountingService" />
      </service>
      <service name="BloomSales.Services.OrderService">
        <endpoint address="net.tcp://localhost:8004/OrderService" 
                  binding="netTcpBinding" 
                  contract="BloomSales.Services.Contracts.IOrderService" />
      </service>
    </services>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>