<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="BloomSales.Services.LocationService">
        <endpoint address="net.tcp://localhost:8000/LocationService"
                  binding="netTcpBinding"
                  contract="BloomSales.Services.Contracts.ILocationService" />
      </service>
      <service name="BloomSales.Services.InventoryService">
        <endpoint address="net.tcp://localhost:8001/InventoryService"
                  binding="netTcpBinding"
                  contract="BloomSales.Services.Contracts.IInventoryService" />
      </service>
      <service name="BloomSales.Services.ShippingService">
        <endpoint address="net.tcp://localhost:8002/ShippingService"
                  binding="netTcpBinding"
                  contract="BloomSales.Services.Contracts.IShippingService" />
      </service>
      <service name="BloomSales.Services.AccountingService">
        <endpoint address="net.tcp://localhost:8003/AccountingService"
                  binding="netTcpBinding"
                  contract="BloomSales.Services.Contracts.IAccountingService" />
      </service>
      <service name="BloomSales.Services.OrderService">
        <endpoint address="net.tcp://localhost:8004/OrderService"
                  binding="netTcpBinding"
                  contract="BloomSales.Services.Contracts.IOrderService" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:8000/LocationService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.ILocationService" />
      <endpoint address="net.tcp://localhost:8001/InventoryService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IInventoryService" />
      <endpoint address="net.tcp://localhost:8002/ShippingService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IShippingService" />
      <endpoint address="net.tcp://localhost:8003/AccountingService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IAccountingService" />
      <endpoint address="net.tcp://localhost:8004/OrderService" binding="netTcpBinding" contract="BloomSales.Services.Contracts.IOrderService" />
    </client>
  </system.serviceModel>
</configuration>