@model System.Int32?

<ul style="padding-left:1em" class="nav navbar-right nav-list">

    @if (Model == 0 || Model == null)
    {
        <li class="disabled">
            <a href="#">
                <span style="font-size:1.4em; padding-top:4px;" class="glyphicon glyphicon-shopping-cart"></span>
            </a>
        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("Index", "ShoppingCart")">
                <sup>
                    <span style="font-size:0.8em;" class="navbar-nav badge">@Model</span>
                </sup>
                <span style="font-size:1.4em; padding-top:4px;" class="glyphicon glyphicon-shopping-cart"></span>
            </a>
        </li>
    }
</ul>